.sd_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-sizing: border-box;
  transition: all 0.3s ease-in;

  &-content {
    font-size: 32rpx;
    position: relative;
    display: flex;
    align-items: center;
    &-back {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      .sd_iconfont {
        position: absolute;
        left: 20rpx;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 999;
        color: #333;
      }

      .left-title {
        padding-left: 60rpx;
      }
    }

    &-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
